mixin gatheringForm(gathering = {})
    form(action=`/createGathering/${gathering._id || ''}` method="POST" class="gatheringForm" enctype="multipart/form-data")
        label(for="name") Name
        input(type="text" name="name" value=gathering.name)
        label(for="description") Description
        textarea(name="description")= gathering.description
        //- Location
        //- body parser url encoded allows for sending nested data
        //- check if gathering.location exists, if not value will be empty
        label(for="address") Address
        input(type="text" id="address" name="location[address]" value=(gathering.location && gathering.location.address))
        label(for="lng") Address Lng
        input(type="text" id="lng" name="location[coordinates][0]" value= (gathering.location && gathering.location.coordinates[0]) required)
        label(for="lat") Address Lat
        input(type="text" id="lat" name="location[coordinates][1]" value= (gathering.location && gathering.location.coordinates[1]) required)
        //- Image upload
        label(for="photo") Photo
            input(type="file" id="photo" name="photo" accept="image/gif, image/png, image/jpeg")
            if gathering.photo
                img(src=`/uploads/${gathering.photo}`, alt=gathering.name width=300)
        label(for="date") Date
        input(type="text" name="date" value=gathering.date)
        input(type="submit" value="Save" class="button")