mixin friendRec(friend = {})
    -const watchingNow = friend.myShows.watchingNow
    -const recommendations = friend.myShows.recommendations
    -const mustWatch = friend.myShows.mustWatch
    -const apostrophe = "'s"
    h2 #{friend.name.concat(apostrophe)} Collection
    h2.testingJoint Currently Watching
    if watchingNow.length < 1
        div Currently not watching any shows
    else 
        div.carousel
            each show in watchingNow
                div.friendShowPoster(id = `${show.poster_path}`)
                    //- div.friendShowPoster(id = `${show.poster_path}`)
                    //- p= show.overview
                    p.posterTitleOverlay #{show.name}
    h2.testingJoint Recommendations
    if recommendations.length < 1
        div Currently no show recommendations
    else 
        div.carousel
            each show in recommendations
                div.friendShowPoster(id = `${show.poster_path}`)
                    //- div.friendShowPoster(id = `${show.poster_path}`)
                    //- p= show.overview
                    p.posterTitleOverlay #{show.name}                
    h2.testingJoint Must Watch
    if mustWatch.length < 1
        div Currently no show recommendations
    else 
        div.carousel
            each show in mustWatch
                div.friendShowPoster(id = `${show.poster_path}`)
                    //- div.friendShowPoster(id = `${show.poster_path}`)
                    //- p= show.overview
                    p.posterTitleOverlay #{show.name}   