mixin friendRec(friend = {})
    -const watchingNow = friend.myShows.watchingNow
    -const apostrophe = "'s"
    span.categoryTab #{friend.name.concat(apostrophe)} Currently Watching
    if watchingNow.length < 1
        div.noShowContainer
            span.noShowNotifcation #{friend.name.concat(apostrophe)} Not watching Any Shows
    else 
        div.carousel
            each show in watchingNow
                div.friendShowPoster(id = `${show.poster_path}`)
                    //- div.friendShowPoster(id = `${show.poster_path}`)
                    //- p= show.overview
                    p.posterTitleOverlay #{show.name}
    a(class="navLinkButtonTrimmed" href=`/displayFriend/${friend._id}`) 
        span.viewProfileTab Click Here To View #{friend.name.concat(apostrophe)} Must Watch Shows and Recommendations