mixin friendRec(friend = {})
    -const watchingNow = friend.myShows.watchingNow
    -const recommendations = friend.myShows.recommendations
    -const mustWatch = friend.myShows.mustWatch
    each show in watchingNow
        div.show(id = `${show.poster_path}`)
            p= show.name
            p= show.overview
    each show in recommendations
        div.show(id = `${show.poster_path}`)
            p= show.name
            p= show.overview
    each show in mustWatch
        div.show(id = `${show.poster_path}`)
            p= show.name
            p= show.overview          