mixin friendRec(showRec = {})
    pre= helpers.dump(showRec)
    -const watchingNow = showRec.shows.watchingNow
    -const recommendations = showRec.shows.recommendations
    -const mustWatch = showRec.shows.mustWatch
    each show in watchingNow
        div.show(id = `${show.poster_path}`)
            p= show.name
            p= show.overview
    each show in recommendations
        div.show(id = `${show.poster_path}`)
            p= show.name
            p= show.overview
    each show in mustWatch
        div.show(id = `${show.poster_path}`)
            p= show.name
            p= show.overview          