mixin gatheringCard(gathering = {})
    pre= helpers.dump(gathering)
    .gathering
        h2.title
            a(href=`/gathering/${gathering.slug}`) #{gathering.name}
        .editButton
            if user && gathering.author.equals(user._id)
                .edit
                    a(href=`/gatherings/${gathering._id}/edit`) Edit
        .gatheringDescription
            p= gathering.description.split(' ').slice(0, 25).join(' ')
            p= gathering.date
               