mixin gatheringCard(gathering = {})
    .gathering
        h2.title
            a(href=`/gathering/${gathering.slug}`) #{gathering.name}
        .gatheringDescription
            .gatheringAction
            a(href=`/gatherings/${gathering._id}/edit`) Edit
            p= gathering.description.split(' ').slice(0, 25).join(' ')
            p= gathering.date