mixin recommendationCard(recommendation = {})
    .recommendation
        h2.title
            a(href=`/recommendation/${recommendation.slug}`) #{recommendation.name}
        .editButton
            if user && recommendation.author.equals(user._id)
                .edit
                    a(href=`/recommendation/${recommendation._id}/edit`) Edit
        .recommendationDescription
            p= recommendation.description.split(' ').slice(0, 25).join(' ')
            p= recommendation.date
               