mixin showOptionCard(showSelection = {})
    div.showPoster(id=`${showSelection.poster_path}`)
        h2= showSelection.name
        form.chooseShow(id=`${showSelection.id}` method="POST" action=`/saveShow`)
            - const showOptionsReview = ['Must Watch','Great', 'Good', 'Not A Fan']
            - const showCategoryOptions = ['Watching Now','Must Watch','Recommendations']
            - const tags = showSelection.tags || []
            - const showCategory = showSelection.showCategory || []
            ul.tagsReview
                each option in showOptionsReview 
                    .tagChoicesReview
                        input(type="radio" id=choice value=option name="tags" checked=(tags.includes(option)))
                        label(for=option) #{option}
            ul.tagsCategory
                each option in showCategoryOptions 
                    .tagChoicesReview
                        input(type="radio" id=choice value=option name="showCategory" checked=(showCategory.includes(option)))
                        label(for=option) #{option}  
            button(type= "submit" name="chooseShow") Add to list
        .showDescription
            p= showSelection.overview.split(' ').slice(0, 30).join(' ')

