mixin showCard(show = {})
    .showManagementContainer(id=`${show.id}`)
        h2 #{show.name}
        div.show(data-poster=`${show.poster_path}`)
        .removeForm
            form.remove(data-identity=`${show.id}` data-category=`${show.showCategory}` method="POST" action=`/api/removeShow/${show.id}/`)
                button(class="buttonStylingYellowBG" type= "submit" name="removeShow") Remove
                