mixin showCard(show = {})
    .show
        //- h2.title
        //-     a(href=`/show/${show.slug}`) #{show.name}
        //- .editButton
        //-     if user && show.author.equals(user._id)
        //-         .edit
        //-             a(href=`/show/${show._id}/edit`) Edit
        h2= show.name
        .showDescription
            pre= helpers.dump(show)
            //- p= show.description.split(' ').slice(0, 25).join(' ')
            p= show.date
               